services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./.env
    ports:
      - "3000:3000"
    volumes:
      - ./.env:/app/.env:ro
    restart: unless-stopped
